body {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-sizing: border-box;
  /* padding: 5px; */
}
.ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: #fff !important;
  color: #fff !important;
}

.ql-toolbar .ql-fill {
  fill: #fff !important;
  stroke: none !important;
  color: #fff !important;
}
.ql-toolbar:hover .ql-fill:hover {
  fill: #fff !important;
  stroke: none !important;
  color: #ffffff !important;
}

.ql-toolbar .ql-picker .ql-picker-label {
  color: #fff !important;
  color: #fff !important;
}
.ql-toolbar.ql-snow {
  background: rgb(62, 102, 235);
}
.ql-toolbar:hover .ql-picker:hover .ql-picker-label:hover {
  color: #eedfdf !important;
}

ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
  color: #599eec !important;
}
.quill{
  max-width: 100%;
  height: 200px;
  border-radius: 8px;
}
.ql-editor, .ql-blank{
 border: solid 1px #64b5f6;
 border-radius: 4px;
 outline: none;
 margin-top: 0.2rem;
}

/* animation effects */
.shimmer-wrapper {
  position: absolute;

  top: 0;
  left: 0;

  animation: loading 2.5s infinite;
}
.shimmer {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transform: skewX(-20deg);
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}

@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}

.post-body {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-weight: normal;
}

.post-body .img {
  display: none;
}

 .description img {
  display: flex;
  max-height: 300px;
  width: 100vw;
  object-fit: cover;
}
